name: Production Deployment Doomsday-VPN
on:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      branch:
        description: 'Select branch to deploy'
        required: true
        default: 'master'
        type: choice
        options:
          - master
          - dev
      force:
        description: 'Force deploy'
        required: false
        type: boolean
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Set deployment branch
      run: |
        if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
          echo "DEPLOY_BRANCH=${{ github.event.inputs.branch }}" >> $GITHUB_ENV
        else
          echo "DEPLOY_BRANCH=master" >> $GITHUB_ENV
        fi

    - name: Setup SSH connection
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts

    - name: Deploy to VPS
      run: |
        ssh ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_HOST }} "
          cd /root/doomsday-vpn
          git pull origin $DEPLOY_BRANCH
        "