name: Production Deployment Doomsday-VPN
on:
  push:
    branches: [ master ]
  workflow_dispatch:
    
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      DEPLOY_BRANCH: ${{ github.event.inputs.branch || 'master' }}
        script: |
          cd /root/doomsday-vpn
          git pull origin ${{ env.DEPLOY_BRANCH }}
          ./scripts/copy-config.sh
        host: ${{ secrets.VPS_HOST }}
